# Dependencies
node_modules/

# Cache & temp
cache/
crytic-export/
typechain/

# Environment & editor
.env
.vscode

# Keep contract artifacts for SDKs & external projects
!artifacts/contracts/**/*.json

# Ignore debug artifacts only
artifacts/**/*.dbg.json

# Ignore test artifacts
artifacts/contracts/test/**/*
artifacts/contracts/base/**/*
